<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta content="zh-cn" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="renderer" content="webkit"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,  user-scalable=no"/>
		<title>{%$lngpack.sitename%}</title>
		<meta name="keywords" content="{%$lngpack.keyword%}" />
		<meta name="description" content="{%$lngpack.description%}" />
		<link rel="icon" type="image/png" href="{%$icon_16%}" sizes="16x16"/>
		<link rel="icon" type="image/png" href="{%$icon_32%}" sizes="32x32"/>
		<link rel="icon" type="image/png" href="{%$icon_64%}" sizes="64x64"/>
		<link href="{%$rootpath%}css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="{%$rootpath%}css/espcmsp8_font.css" rel="stylesheet" type="text/css" />
		<link href="{%$rootpath%}css/swiper.min.css" rel="stylesheet" type="text/css" />
		<link href="{%$rootpath%}css/espcmsp8_all.css" rel="stylesheet" type="text/css" />
		<link href="{%$rootpath%}css/espcms_p8_public.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{%$rootdir%}espcms_includes/js/jquery.min.js"></script>
		<script type="text/javascript" src="{%$rootdir%}espcms_includes/js/bootstrap.js"></script>
		<script type="text/javascript" src="{%$rootdir%}espcms_includes/js/swiper.min.js"></script>
		<script type="text/javascript" src="{%$type.purview_link%}"></script>
	</head>

	<body>
		{%link file="public/head.html"%}
		<section class="bann_container">
			<div class="container page_bann_title">
				<h2>{%$key%}</h2>
				<p>{%$sub.content%}</p>
			</div>
		</section>

		<section class="container espcms_page_book">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<div class="panel panel-info">
						<div class="panel-heading espcms_page_navigation_title"><h4>专题列表</h4></div>
						<div class="panel-body">
							<ul class="list-group espcms_page_infolist">
								{%get name=subtype class=mid:2%}
								{%forlist from=$array key=i%}
								<li class="list-group-item">
									<a class="link_4242_der" title="{%$array[i].title%}" href="{%$array[i].link%}">{%$array[i].subjectname%}</a>
								</li>
								{%/forlist%}
								{%/get%}
							</ul>
						</div>
					</div>

					{%link file="public/left.html"%}
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9">
					{%list name=path class=type:tag,key:$key%}

					{%if espcms_count($array) > 0%}
					<div class="espcms_info_list">
						<ul class="list-group">
							{%forlist from=$array key=i%}
							<li class="list-group-item">
								<span class="badge espcms_info_time">{%$array[i].addtime|espcms_timeformat(3)%}</span>
								<a class="link_4242_der" title="{%$array[i].title%}" href="{%$array[i].link%}">{%$array[i].ctitle%}</a>
								{%if $array[i].summary%}
								<p class="list-group-item-text word_wrap">{%$array[i].summary%}</p>
								{%/if%}
							</li>
							{%/forlist%}
						</ul>
					</div>

					<div class="espcms_page_botton">
						<span class="btn btn-default">共{%$page_read.db_num%}条/共有{%$page_read.page_num%}页</span> {%$pagebotton%}
					</div>
					{%else%}
					<div class="espcms_info_list text-center">
						暂无内容
					</div>
					{%/if%}
				</div>
			</div>
		</section>

		{%link file="public/footer.html"%}
	</body>
</html>